<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Inter&family=Playfair+Display:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Sweet Garbage</title>
  </head>
  <body>
    <nav>
      <h1 class="title">Sweet Garbage</h1>
      <div class="va-link">
        <a class="nav-link home-link" href="">Home</a>
        <a class="nav-link learn-link" href="">Learn</a>
        <a class="nav-link about-link" href="">About</a>
        <a class="nav-link log-in-link" href="sign-in">Log in</a>
        <a class="nav-link sign-up-link" href="sign-up">Sign up</a>
      </div>
    </nav>
    <div class="main-div">
      <img class="home-back-img" src="/images/home-back.png" alt="" />
      <div class="main-txt-div">
        <h2 class="main-txt1">Best Solution For Waste Management</h2>
        <p class="main-txt2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
          purus sit amet
        </p>
      </div>
    </div>
    <img class="join-us-div" src="/images/Join-us-div.png" alt="" />
    <div class="about-us">
      <img class="about-us-img" src="/images/about-us.png" alt="" />
      <h2 class="about-us-txt1">About Us</h2>
      <p class="about-us-txt2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor
      </p>
    </div>
    <div class="learn-with-us">
      <h2 class="learn-with-us-txt1">Learn with Us</h2>
      <a href="" class="learn-vid-div vid1">
        <img class="yt-img" src="/images/yt1.png" alt="" />
        <p>
          Earth Day Special INDIA'S MOUNTAIN OF TRASH | Solutions for waste
          problem | Abhi and Niyu
        </p>
      </a>
      <a href="" class="learn-vid-div vid2">
        <img class="yt-img" src="/images/yt2.png" alt="" />
        <p>Reality of Air Pollution in Delhi | Analysis by Dhruv Rathee</p>
      </a>
      <a href="" class="learn-vid-div vid3">
        <img class="yt-img" src="/images/yt3.png" alt="" />
        <p>How Trash Makes Money In The U.S.</p>
      </a>
      <a href="" class="learn-vid-div vid4">
        <img class="yt-img" src="/images/yt4.png" alt="" />
        <p>Swachh Survekshan 2023: Waste to Wealth</p>
      </a>
      <a href="" class="learn-vid-div vid5">
        <img class="yt-img" src="/images/yt5.png" alt="" />
        <p>
          Bricks From Waste - How to dispose Facemask after use? | Abhi and Niyu
        </p>
      </a>
      <a href="" class="learn-vid-div vid6">
        <img class="yt-img" src="/images/yt6.png" alt="" />
        <p>Plastic is destroying Ladakh | Abhi and Niyu</p>
      </a>
    </div>
    <div class="join-tag">
      <h2 class="join-tag-txt1">Join #Sweet Garbage</h2>
      <img class="img1" src="/images/profile1.png" alt="" />
      <div class="profile-1">
        <h2 class="txt">Soyeb Sarkar</h2>
        <p class="p">
          Approach is really awesome and inspiring and I’m proud to be a sweet
          garbage volunteer #SweetGarbage
        </p>
      </div>
      <img class="img-2" src="/images/profile2.png" alt="" />
      <div class="profile-2">
        <h2 class="txt2">Nico Robin</h2>
        <p class="p2">
          Being part of Sweet Garbage inspire me a lot to contribute as a
          citizen and help to solve one of the problem #SweetGarbage
        </p>
      </div>
    </div>
    <footer>
      <div class="div">
        <div class="logo-footer">
          <a href="https://www.facebook.com/"
            ><img src="images/fb-logo.svg" alt=""
          /></a>
          <a href="https://www.instagram.com/"
            ><img src="images/insta-logo.svg" alt=""
          /></a>
          <a href="https://twitter.com/"
            ><img src="images/twitter-logo.svg" alt=""
          /></a>
          <a href="https://www.pinterest.com/"
            ><img src="images/pinterrest-logo.svg" alt=""
          /></a>
          <a href="https://www.whatsapp.com/"
            ><img src="images/wp-logo.svg" alt=""
          /></a>
          <a href="https://www.youtube.com/"
            ><img src="images/yt-logo.svg" alt=""
          /></a>
        </div>
        <h2 class="copright-txt">© Start, 2022. All rights reserved.</h2>
      </div>
    </footer>
  </body>
</html>
